<div class="row">
  <div class="col">
    <input #query type="text" (keyup)="buscar(query.value)" class="form-control" placeholder="Search Any Artist">
  </div>
</div>


<div class="card-columns">
  <div *ngFor="let artist of artists" class="card">
      <p>Principal Artist</p>
    <img class="card-img-top" [src]="artist.images[0].url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{artist.name}}</h5>
    </div>
  </div>
</div>

<div class="card-columns minsize">
  <!-- <p>Principal Album Result</p> -->
  <div *ngFor="let track of tracks" class="card bg-dark">

    <img class="card-img-top" [src]="track.album.images[0].url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{track.name}}</h5>
    </div>
  </div>
</div>